In [33]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

accidents = pd.read_csv("/Users/mac/Documents/MySchoolDocs/PERSONAL/JOB APPLICATIONS/ENERGY_PROJECT/data/raw/accidents.csv")
crude_rigs = pd.read_csv("/Users/mac/Documents/MySchoolDocs/PERSONAL/JOB APPLICATIONS/ENERGY_PROJECT/data/raw/crude_rigs.csv")
refinery_capacity = pd.read_csv("/Users/mac/Documents/MySchoolDocs/PERSONAL/JOB APPLICATIONS/ENERGY_PROJECT/data/raw/refinery_capacity.csv")
refinery_inputs = pd.read_csv("/Users/mac/Documents/MySchoolDocs/PERSONAL/JOB APPLICATIONS/ENERGY_PROJECT/data/raw/refinery_inputs.csv")
refinery_utilization = pd.read_csv("/Users/mac/Documents/MySchoolDocs/PERSONAL/JOB APPLICATIONS/ENERGY_PROJECT/data/raw/refinery_utilization.csv")

In [34]:
def describe_data(datasets):
    for name, df in datasets.items():
        print(f"{name}")
        display(df.describe(include = "all"))

In [35]:
datasets = {
    "accidents": accidents,
    "refinery_capacity": refinery_capacity,
    "refinery_inputs": refinery_inputs,
    "crude_rigs": crude_rigs,
    "refinery_utilization": refinery_utilization
}

describe_data(datasets)

accidents

,LOCAL_DATETIME,ONSHORE_STATE_ABBREVIATION,LOCATION_LATITUDE,LOCATION_LONGITUDE,COMMODITY_RELEASED_TYPE,UNINTENTIONAL_RELEASE_BBLS,RECOVERED_BBLS,CAUSE,FATALITY_IND,INJURY_IND,WATER_CONTAM_IND,SOIL_CONTAMINATION,EST_COST_PROP_DAMAGE,EST_COST_ENVIRONMENTAL,LOCAL_DATETIME_Month_Number,LOCAL_DATETIME_Month,LOCAL_DATETIME_Year
count,5757,5700,5757.000000,5757.000000,5757,5757.000000,5757.000000,5757,5757,5757,5757,5001,5.750000e+03,5.749000e+03,5757.000000,5757,5757.000000
unique,5724,48,NaN,NaN,5,NaN,NaN,8,2,2,2,2,NaN,NaN,NaN,12,NaN
top,2025-03-05 23:39:00,TX,NaN,NaN,CRUDE OIL,NaN,NaN,EQUIPMENT FAILURE,NO,NO,NO,YES,NaN,NaN,NaN,Jan,NaN
freq,3,2334,NaN,NaN,2955,NaN,NaN,2627,5747,5736,5283,3417,NaN,NaN,NaN,549,NaN
mean,NaN,NaN,35.131218,-96.543173,NaN,224.161782,91.062173,NaN,NaN,NaN,NaN,NaN,1.109488e+05,2.779780e+05,6.269411,NaN,2016.957964
std,NaN,NaN,5.625717,9.923499,NaN,1653.498867,744.416911,NaN,NaN,NaN,NaN,NaN,6.842855e+05,8.643585e+06,3.441791,NaN,4.306649
min,NaN,NaN,18.431905,-158.099930,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,1.000000,NaN,2010.000000
25%,NaN,NaN,30.169527,-101.432002,NaN,0.500000,0.100000,NaN,NaN,NaN,NaN,NaN,2.000000e+02,0.000000e+00,3.000000,NaN,2013.000000
50%,NaN,NaN,33.607510,-96.024890,NaN,2.200000,1.000000,NaN,NaN,NaN,NaN,NaN,4.500000e+03,5.000000e+02,6.000000,NaN,2017.000000
75%,NaN,NaN,39.138390,-92.069167,NaN,20.000000,9.520000,NaN,NaN,NaN,NaN,NaN,3.246250e+04,1.500000e+04,9.000000,NaN,2020.000000
max,NaN,NaN,70.278170,-66.006017,NaN,48400.000000,35566.000000,NaN,NaN,NaN,NaN,NaN,2.700000e+07,6.350000e+08,12.000000,NaN,2025.000000

refinery_capacity

,Date,U. S. Operable Crude Oil Distillation Capacity (Thousand Barrels per Calendar Day),Date_Month_Number,Date_Month,Date_Year
count,488,488.000000,488.000000,488,488.000000
unique,488,NaN,NaN,12,NaN
top,1985-01-01,NaN,NaN,Jan,NaN
freq,1,NaN,NaN,41,NaN
mean,NaN,16939.325820,6.467213,NaN,2004.836066
std,NaN,1177.138553,3.449095,NaN,11.752660
min,NaN,15028.000000,1.000000,NaN,1985.000000
25%,NaN,15698.000000,3.000000,NaN,1995.000000
50%,NaN,17170.000000,6.000000,NaN,2005.000000
75%,NaN,17950.000000,9.000000,NaN,2015.000000
max,NaN,18976.000000,12.000000,NaN,2025.000000

refinery_inputs

,Date,U.S. Gross Inputs to Refineries (Thousand Barrels Per Day),Date_Month_Number,Date_Month,Date_Year
count,488,488.000000,488.000000,488,488.000000
unique,488,NaN,NaN,12,NaN
top,1985-01-01,NaN,NaN,Jan,NaN
freq,1,NaN,NaN,41,NaN
mean,NaN,15082.428279,6.467213,NaN,2004.836066
std,NaN,1342.386368,3.449095,NaN,11.752660
min,NaN,11484.000000,1.000000,NaN,1985.000000
25%,NaN,14066.500000,3.000000,NaN,1995.000000
50%,NaN,15211.500000,6.000000,NaN,2005.000000
75%,NaN,16029.000000,9.000000,NaN,2015.000000
max,NaN,18041.000000,12.000000,NaN,2025.000000

crude_rigs

,Date,U.S. Crude Oil Rotary Rigs in Operation (Count),Date_Month_Number,Date_Month,Date_Year
count,633,458.000000,633.000000,633,633.000000
unique,633,NaN,NaN,12,NaN
top,1973-01-01,NaN,NaN,Jan,NaN
freq,1,NaN,NaN,53,NaN
mean,NaN,499.353712,6.478673,NaN,1998.876777
std,NaN,342.205655,3.448528,NaN,15.239978
min,NaN,108.000000,1.000000,NaN,1973.000000
25%,NaN,281.250000,3.000000,NaN,1986.000000
50%,NaN,402.000000,6.000000,NaN,1999.000000
75%,NaN,598.750000,9.000000,NaN,2012.000000
max,NaN,1593.000000,12.000000,NaN,2025.000000

refinery_utilization

,Date,U.S. Percent Utilization of Refinery Operable Capacity,Date_Month_Number,Date_Month,Date_Year
count,488,488.000000,488.000000,488,488.000000
unique,488,NaN,NaN,12,NaN
top,1985-01-01,NaN,NaN,Jan,NaN
freq,1,NaN,NaN,41,NaN
mean,NaN,89.047131,6.467213,NaN,2004.836066
std,NaN,5.097492,3.449095,NaN,11.752660
min,NaN,70.200000,1.000000,NaN,1985.000000
25%,NaN,86.075000,3.000000,NaN,1995.000000
50%,NaN,89.600000,6.000000,NaN,2005.000000
75%,NaN,92.800000,9.000000,NaN,2015.000000
max,NaN,99.900000,12.000000,NaN,2025.000000

In [36]:
accidents.isna().sum()

LOCAL_DATETIME                   0
ONSHORE_STATE_ABBREVIATION      57
LOCATION_LATITUDE                0
LOCATION_LONGITUDE               0
COMMODITY_RELEASED_TYPE          0
UNINTENTIONAL_RELEASE_BBLS       0
RECOVERED_BBLS                   0
CAUSE                            0
FATALITY_IND                     0
INJURY_IND                       0
WATER_CONTAM_IND                 0
SOIL_CONTAMINATION             756
EST_COST_PROP_DAMAGE             7
EST_COST_ENVIRONMENTAL           8
LOCAL_DATETIME_Month_Number      0
LOCAL_DATETIME_Month             0
LOCAL_DATETIME_Year              0
dtype: int64

In [37]:
#Evaluating the missingness in the SOIL_CONTAMINATION

accidents["SOIL_CONTAMINATION"].value_counts(dropna=False)

SOIL_CONTAMINATION
YES    3417
NO     1584
NaN     756
Name: count, dtype: int64

In [38]:
accidents.groupby("ONSHORE_STATE_ABBREVIATION")["SOIL_CONTAMINATION"].apply(lambda x: x.isna().sum()).sort_values(ascending=False)

ONSHORE_STATE_ABBREVIATION
TX    277
OK     68
LA     43
CA     42
KS     42
NJ     30
IL     26
IN     18
MN     18
IA     17
MT     15
MO     13
NM     13
WY     13
OH      9
CO      9
MS      9
AL      7
GA      7
PA      7
NE      7
MI      7
KY      7
WI      6
VA      6
TN      5
ND      5
SC      5
NC      4
MD      4
WA      4
AK      3
SD      3
AR      2
UT      1
HI      1
CT      1
OR      1
ME      1
AZ      0
ID      0
FL      0
MA      0
NH      0
NV      0
NY      0
PR      0
WV      0
Name: SOIL_CONTAMINATION, dtype: int64

In [39]:
#Checking the soil_contamination missing values by state

accidents.groupby("ONSHORE_STATE_ABBREVIATION")["SOIL_CONTAMINATION"].apply(lambda x: x.isna().mean()*100).sort_values(ascending=False)

ONSHORE_STATE_ABBREVIATION
ME    50.000000
MD    36.363636
CT    33.333333
TN    31.250000
MT    29.411765
KY    28.000000
SC    25.000000
IA    23.943662
GA    21.212121
WA    21.052632
NJ    20.408163
NE    20.000000
SD    18.750000
MO    18.309859
VA    18.181818
IN    18.000000
KS    17.872340
MN    17.821782
CA    14.685315
OK    14.655172
MS    14.516129
AL    14.285714
HI    14.285714
CO    14.062500
AK    13.636364
NC    12.903226
IL    12.871287
WI    12.500000
LA    12.146893
TX    11.868038
MI    10.606061
OR    10.000000
NM     9.774436
OH     9.375000
PA     8.641975
UT     8.333333
WY     7.558140
AR     5.000000
ND     4.310345
AZ     0.000000
ID     0.000000
FL     0.000000
MA     0.000000
NH     0.000000
NV     0.000000
NY     0.000000
PR     0.000000
WV     0.000000
Name: SOIL_CONTAMINATION, dtype: float64

Because missingness is non-random and geographically concentrated, filling with "YES" (the mode) will distort the regional contamination patterns and overstate the contamination levels in some states that have incomplete reporting. As such, we fill all missing SOIL_CONTAMINATION values with "Unknown".

In [40]:
accidents[accidents['ONSHORE_STATE_ABBREVIATION'].isna()]['LOCAL_DATETIME_Year'].value_counts(dropna=False)

LOCAL_DATETIME_Year
2022    9
2024    6
2023    5
2019    5
2021    5
2010    4
2015    4
2014    3
2012    3
2017    3
2018    3
2011    3
2025    2
2020    1
2013    1
Name: count, dtype: int64

Since the missing values for ONSHORE_STATE_ABBREVIATION are spread across many years and not concentrated in one period, we fill it with the mode (TX).

In [41]:
#Filling all na for SOIL_CONTAMINATION with "Unknown"

accidents["SOIL_CONTAMINATION"].fillna("Unknown", inplace=True)

#Filling all missing state abbreviations with mode (TX)
accidents["ONSHORE_STATE_ABBREVIATION"].fillna(accidents["ONSHORE_STATE_ABBREVIATION"].mode()[0], inplace=True)

#Filling all missing values of EST_COST_PROP_DAMAGE and EST_COST_ENVIRONMENTAL with their respective medians.
accidents["EST_COST_PROP_DAMAGE"].fillna(accidents["EST_COST_PROP_DAMAGE"].median(), inplace=True)
accidents["EST_COST_ENVIRONMENTAL"].fillna(accidents["EST_COST_ENVIRONMENTAL"].median(), inplace=True)

In [43]:
accidents.isna().sum()

LOCAL_DATETIME                 0
ONSHORE_STATE_ABBREVIATION     0
LOCATION_LATITUDE              0
LOCATION_LONGITUDE             0
COMMODITY_RELEASED_TYPE        0
UNINTENTIONAL_RELEASE_BBLS     0
RECOVERED_BBLS                 0
CAUSE                          0
FATALITY_IND                   0
INJURY_IND                     0
WATER_CONTAM_IND               0
SOIL_CONTAMINATION             0
EST_COST_PROP_DAMAGE           0
EST_COST_ENVIRONMENTAL         0
LOCAL_DATETIME_Month_Number    0
LOCAL_DATETIME_Month           0
LOCAL_DATETIME_Year            0
dtype: int64

In [ ]:
#Renaming columns in crude_rigs, refinery_capacity, refinery_inputs and refinery_utilization datasets

Date                                                 1
U.S. Crude Oil Rotary Rigs in Operation (Count)    176
Date_Month_Number                                    1
Date_Month                                           1
Date_Year                                            1
dtype: int64